[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=2022.12.7"
cffi = "~=1.15"
charset-normalizer = "~=3.0"
gitdb = "~=4.0"
idna = "~=3.4"
pycparser = "~=2.21"
requests = "~=2.28"
six = "~=1.16"
smmap = "~=5.0"
urllib3 = "~=1.26"
wrapt = "~=1.14"
Deprecated = "~=1.2"
GitPython = "~=3.1"
PyGithub = "~=1.57"
PyJWT = "~=2.6"
PyNaCl = "~=1.5"

[dev-packages]

[requires]
python_version = "3"